/* Clicker.css */
.clicker-container {
  background-color: #fff; /* колір фону */
  color: #000; /* колір тексту */
  padding: 20px;
}

/* Темний режим */
.dark-mode .clicker-container {
  background-color: #1e1e1e;
  color: #fff;
}

.click-button,
.upgrade-button {
  background-color: #007bff; /* колір кнопки */
  color: #fff; /* колір тексту на кнопці */
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  margin-right: 10px;
  cursor: pointer;
}

.click-button:hover,
.upgrade-button:hover {
  background-color: #0056b3; /* колір кнопки при наведенні */
}

/* Темний режим */
.dark-mode .click-button,
.dark-mode .upgrade-button {
  background-color: #0056b3;
}

.dark-mode .click-button:hover,
.dark-mode .upgrade-button:hover {
  background-color: #003d7f;
}